/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.dependances.txt
/app/Http/Controllers/Test/TestController.php
/app/view/components/test
/resources/views/test/test.blade.php
/resources/views/components/test