.decorated-label {
  min-width: 60px;
  color: white;
  border: black solid 2px;
  background-color: black;
  border-radius: 0 10em 0 0;
  padding: 0.2em 0;
  margin: 0;
}
@media (max-width: 576px) {
  .decorated-label {
    border-radius: 1em 1em 0 0;
  }
}

.decorated-label-area {
  min-height: 40px;
  border: black solid 1px;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 576px) {
  .decorated-label-area {
    border-radius: 0 0 1em 1em;
  }
}
.decorated-label-area:focus {
  box-shadow: none;
  border: black solid 1px;
  border-right-width: 3px;
  border-left-width: 3px;
  background-color: white;
}
.decorated-label-area:hover {
  border-right-width: 4px;
}

#message {
  resize: none;
}

.animated-area {
  position: relative;
  overflow: hidden;
}
.animated-area:focus-within .animation-adding {
  display: block;
}

.animation-adding {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}
.animation-adding:nth-child(1) {
  transform: rotateZ(0deg);
}
.animation-adding:nth-child(2) {
  height: calc(100% + 1px);
  transform: rotateZ(180deg);
}
.animation-adding:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 0.3em;
  animation: animate-text-area 2s linear 1 forwards;
}

@keyframes animate-text-area {
  0% {
    transform: scaleX(1);
    transform-origin: left;
    border-top: white solid 3px;
  }
  99.9% {
    transform: scaleX(0);
    transform-origin: right;
    border-top: white solid 3px;
  }
  100% {
    border: none;
  }
}
.decorated-button {
  background-color: black;
  color: white;
  border-radius: 0 15px 0 15px;
  border: transparent solid 2px;
  box-shadow: none;
}
.decorated-button:hover {
  color: white;
  animation: animate-button 1.3s linear 2 alternate;
  animation-fill-mode: forwards;
}
.decorated-button:active, .decorated-button:focus {
  box-shadow: none;
}

@keyframes animate-button {
  0%, 20% {
    background-color: black;
    color: white;
    border: transparent solid 2px;
  }
  80%, 100% {
    background-color: white;
    color: black;
    border: black solid 2px;
  }
}
.card-header, .card-footer {
  border: none;
}

.card {
  background-color: transparent;
  background-image: radial-gradient(ellipse closest-corner, transparent 97%, black 97%), linear-gradient(to right, black 0.5%, rgba(0, 0, 0, 0.2) 0.5%, rgba(150, 150, 150, 0.2) 25%, rgba(150, 150, 150, 0.2) 75%, rgba(0, 0, 0, 0.2) 99.5%, black 99.5%);
  border: black solid 0.5px;
}
@media (max-width: 767px) {
  .card {
    background-image: radial-gradient(ellipse closest-corner, transparent 96%, black 96%), linear-gradient(to right, black 0.5%, rgba(0, 0, 0, 0.2) 0.5%, rgba(150, 150, 150, 0.2) 25%, rgba(150, 150, 150, 0.2) 75%, rgba(0, 0, 0, 0.2) 99.5%, black 99.5%);
  }
}
@media (max-width: 576px) {
  .card {
    background-image: radial-gradient(ellipse closest-corner, transparent 95%, black 95%), linear-gradient(to right, black 0.5%, rgba(0, 0, 0, 0.2) 0.5%, rgba(150, 150, 150, 0.2) 25%, rgba(150, 150, 150, 0.2) 75%, rgba(0, 0, 0, 0.2) 99.5%, black 99.5%);
  }
}

.card-header, .card-footer {
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
}

/*# sourceMappingURL=contact.css.map */
