.work {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.work img {
  opacity: 1;
  width: auto;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}
.work h5 {
  padding: 1px 0px;
}
.work .card-separator {
  content: "";
  border-right: #d2d2d2 1px solid;
  margin: 0 0.4em 0 0.4em;
  height: min(80%, 8em);
  border-radius: 50px;
}
.work .card-text, .work .card-title {
  overflow: auto;
  max-height: 80%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (min-width: 769px) {
  .work .card-text, .work .card-title {
    scrollbar-width: thin;
    scrollbar-color: rgba(50, 50, 50, 0.3) transparent;
  }
  .work .card-text::-webkit-scrollbar, .work .card-title::-webkit-scrollbar {
    width: 0.6em;
    background-color: transparent;
  }
  .work .card-text::-webkit-scrollbar-button:single-button, .work .card-title::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
  }
  .work .card-text::-webkit-scrollbar-button:single-button:vertical:decrement, .work .card-title::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 0.3em 0.3em 0.3em;
    border-color: transparent transparent #969696 transparent;
  }
  .work .card-text::-webkit-scrollbar-button:single-button:vertical:decrement:hover, .work .card-title::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-bottom-color: white;
  }
  .work .card-text::-webkit-scrollbar-button:single-button:vertical:increment, .work .card-title::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 0.3em 0.3em 0 0.3em;
    border-color: #969696 transparent transparent transparent;
  }
  .work .card-text::-webkit-scrollbar-button:single-button:vertical:increment:hover, .work .card-title::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    border-top-color: white;
  }
}
.work .card-title {
  min-width: 30%;
  max-width: 50%;
  padding: 1px 0px;
}
.work .card-text {
  max-width: 60%;
  font-style: italic;
  color: #d2d2d2;
}
.work .card-img-overlay {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0.1) 0%, transparent 30%, transparent 70%, rgba(200, 200, 200, 0.1) 100%);
}

.body-mobile .card-img-overlay, .body-desktop .card-img-overlay {
  height: 100%;
  width: 100%;
  left: 0;
  right: auto;
  bottom: 0;
  transition: top 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.body-desktop .card-img-overlay {
  top: 100%;
}
.body-desktop .work:hover img, .body-desktop .work:focus img {
  opacity: 0.4;
}
.body-desktop .work:hover > .card-img-overlay, .body-desktop .work:focus > .card-img-overlay {
  top: 0;
}

.body-mobile img {
  opacity: 0.4;
}
.body-mobile .card-title, .body-mobile .card-text {
  width: 45%;
}

.masonry {
  margin: 1.5em 0;
  column-gap: 0;
  row-gap: 0;
}
@media (min-width: 992px) {
  .masonry {
    column-count: 2;
  }
}
@media (max-width: 768px) {
  .masonry {
    column-count: 1;
  }
}
.masonry button {
  padding: 2px;
  margin: 0.5em;
}

/*# sourceMappingURL=work.css.map */
