@import './mixins';

.footer-logo{
    margin-top: 1em;
    width: 6em;
    transition: width 0.7s, margin-top 0.7s;

    &:hover{
        margin-top: 0.1em;
        width: 7em;
    }

}

.footer-link {
    color: #AAAAAA;
    text-decoration: none;
}

.footer-link:hover{
    color: white;
    text-decoration: none;
    @include xborder(white dotted 2px);
    border-radius: 15px;
    @include ypadding(0.2em);
    @include xpadding(0.5em);
}


