@import './mixins';

.footer-logo{
    width: 6em;
}

.footer-link {
    color: #AAAAAA;
    text-decoration: none;
}

.footer-link:hover{
    color: white;
    text-decoration: none;
    @include xborder(white dotted 2px);
    border-radius: 15px;
    @include ypadding(0.2em);
    @include xpadding(0.5em);
}


