// Fonts
@import './fonts';

html {
    position: relative;
    min-height: 100%;
}

nav {
    font-family: $walter-turncoat;
}

body {
    font-family: $font-base, $font-default;
    margin-bottom: 240px;
}

@media (max-width: 767px) {
    body {
        margin-bottom: 240px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.white-wall {
    background-image: url("resources/textures/wall.jpg");
}
