// Fonts
@import 'fonts';

// Textures
@import "textures";

html {
    position: relative;
    min-height: 100%;
}

main {
    min-height: 100%;
    height: 100%;
}

nav {
    font-family: $walter-turncoat;
}

%body-base {
    font-family: $font-base, $font-default;
}

.body-desktop {
    @extend %body-base;
    margin-bottom: 220px;
}

.body-mobile {
    @extend %body-base;
    margin-bottom: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
